<% include ../../_header %>

<h1>tcp</h1>

<h2>Examples</h2>

<h3>Predicates</h3>

<section class="accordion">
  <div>
    <input id="is" name="is" type="checkbox" />
      <label for="is">is</label>
      <section>
        <% include tcp/is %>
      </section>
  </div>
  <div>
    <input id="contains" name="contains" type="checkbox" />
      <label for="contains">contains</label>
      <section>
        <p>Some content... </p>
      </section>
  </div>
  <div>
    <input id="startsWith" name="startsWith" type="checkbox" />
    <label for="startsWith">startsWith</label>
    <section>
      <p>Some content... </p>
    </section>
  </div>
  <div>
    <input id="endsWith" name="endsWith" type="checkbox" />
    <label for="endsWith">endsWith</label>
    <section>
      <p>Some content... </p>
    </section>
  </div>
  <div>
    <input id="matches" name="matches" type="checkbox" />
    <label for="matches">matches</label>
    <section>
      <p>Some content... </p>
    </section>
  </div>
  <div>
    <input id="exists" name="exists" type="checkbox" />
    <label for="exists">exists</label>
    <section>
      <p>Some content... </p>
    </section>
  </div>
  <div>
    <input id="not" name="not" type="checkbox" />
    <label for="not">not</label>
    <section>
      <p>Some content... </p>
    </section>
  </div>
  <div>
    <input id="or" name="or" type="checkbox" />
    <label for="or">or</label>
    <section>
      <p>Some content... </p>
    </section>
  </div>
  <div>
    <input id="and" name="and" type="checkbox" />
    <label for="and">and</label>
    <section>
      <p>Some content... </p>
    </section>
  </div>
</section>

<% include ../../_footer %>
