// eslint-disable-line no-underscore-dangle
// eslint-disable-next-line no-underscore-dangle
/* eslint complexity: 0 */
{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "env": {
        "node": true,
        "browser": true,
        "jquery": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "accessor-pairs": 2,
        "array-bracket-spacing": [2, "never"],
//        "arrow-body-style": [2, "as-needed"],
        "arrow-parens": [2, "as-needed"],
        "arrow-spacing": [2, { "before": true, "after": true }],
        "block-spacing": [2, "always"],
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
        "camelcase": [2, {"properties": "always"}],
        "comma-dangle": [2, "never"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "complexity": [2, 7],
        "computed-property-spacing": [2, "never"],
        "consistent-return": 2,
        "curly": 2,
        "dot-location": [2, "property"],
        "dot-notation": 2,
        "eqeqeq": 2,
        "generator-star-spacing": [2, {"before": true, "after": false}],
        "handle-callback-err": [2, "error"],
        "indent": [2, 4, {"SwitchCase": 1}],
        "key-spacing": 2,
        "keyword-spacing": [2, {"before": true, "after": true, "overrides": {}}],
        "linebreak-style": 2,
        "max-depth": [2, 3],
        "max-nested-callbacks": [2, 6],
        "max-params": [2, 5],
        "new-parens": 2,
        "no-alert": 2,
        "no-array-constructor": 2,
        "no-bitwise": 2,
        "no-buffer-constructor": 2,
        "no-caller": 2,
        "no-confusing-arrow": 1,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-implied-eval": 2,
//        "no-invalid-this": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-lonely-if": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-multiple-empty-lines": [2, {"max": 2, "maxEOF": 1}],
        "no-native-reassign": 2,
        "no-negated-in-lhs": 2,
        "no-nested-ternary": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-new-wrappers": 2,
        "no-octal-escape": 2,
        "no-path-concat": 2,
        "no-plusplus": 2,
        "no-proto": 2,
        "no-return-assign": [2, "always"],
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-spaced-func": 2,
        "no-throw-literal": 2,
        "no-trailing-spaces": 2,
        "no-undef-init": 2,
        "no-underscore-dangle": [2, { "allow": ["_links", "_behaviors", "_mode", "_proxyResponseTime"] }],
        "no-unneeded-ternary": 2,
        "no-unused-expressions": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-warning-comments": 1,
        "no-with": 2,
        "object-curly-spacing": [2, "always"],
        //"one-var": [2, "always"],
        "operator-assignment": [2, "always"],
//        "operator-linebreak": [2, "after"],
        "quote-props": [2, "as-needed"],
        "quotes": [2, "single", "avoid-escape"],
        "semi": [2, "always"],
        "semi-spacing": [2, {"before": false, "after": true}],
        "space-before-blocks": 2,
        "space-before-function-paren": 2,
        "space-in-parens": [2, "never"],
        "space-infix-ops": [2, {"int32Hint": false}],
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-comment": [2, "always"],
        "strict": [2, "global"],
        "valid-jsdoc": [2, {"requireReturn": false, "requireReturnDescription": false}],
        "yoda": 2,
        "no-console": "off"
    }
}
