<h1>v1.2.0</h1>

<p>The following changes are part of this release</p>

<h2>New Features</h2>
<ul class='bullet-list'>
  <li>A new <a href='/docs/api/behaviors'><code>decorate</code> behavior</a> to support
    post-processing responses before sending them.</li>
  <li>A new <code>removeProxies</code> query parameter to support easier record-playback
  behavior for <a href='/docs/api/proxies'>proxy stubs</a>.</li>
</ul>
