<h1>v1.1.36</h1>

<p>mountebank is happy to provide you with the following changes in v1.1.36</p>

<h2>Better Windows Support</h2>

<p>The mountebank build is now fully Windows compatible, and with a couple of minor exceptions
that require the use of Unix tools, the same set of tests that run on Mac and Linux now run on
Windows as well.  The <code>mb stop</code> and <code>mb restart</code> commands now work on
Windows as well as other platforms.  Additionally, the <code>Content-Type</code> header is
now defaulted to <code>application/json</code> on Windows as it previously was on other platforms.</p>

<h2>New Features</h2>
<ul class='bullet-list'>
  <li>Support for a custom keystore for http using the <a href='http://<%= host %>/docs/commandLine'>
    command line.</a></li>
  <li>The start of a <a href='http://<%= host %>/imposters'>UI</a> to help explore the API and to
    support manual testing (more to come soon).</li>
</ul>

<h2>Bug Fixes</h2>
<ul class='bullet-list'>
  <li>Fixed <a href='http://<%= host %>/docs/install'>packaged install <code>mb</code> scripts</a> to accept
    command line parameters</li>
  <li>Fixed <a href='https://github.com/bbyars/mountebank/issues/38'>error handling for invalid JSON</a></li>
</ul>

<p>Many thanks to <a href='https://github.com/manojlds'>Manoj Mahalingam</a> for help with this release.</p>

<h2>Install</h2>

<pre><code>
  npm install -g mountebank@1.1.36 --production
</code></pre>

<p>or:</p>

<table>
  <tr>
    <th>Option</th>
    <th>node.js required?</th>
    <th>sudo required?</th>
    <th>links</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Self-contained archives</td>
    <td>No</td>
    <td>No</td>
    <td style="min-width: 5em;">
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank-v1.1.36-linux-x86.tar.gz">linux x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank-v1.1.36-linux-x64.tar.gz">linux x64</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank-v1.1.36-win-x86.zip">win x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank-v1.1.36-win-x64.zip">win x64</a></li>
      </ul>
    </td>
    <td>Simply unpack and run <code>mb</code> from inside</td>
  </tr>
  <tr>
    <td>OS-specific packages</td>
    <td>No</td>
    <td>Yes</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank-v1.1.36.pkg">pkg</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank-1.1.36-1.x86_64.rpm">rpm</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank_1.1.36_amd64.deb">deb</a></li>
      </ul>
    </td>
    <td>Puts <code>mb</code> at <code>/usr/local/bin</code>, which is generally in the <code>PATH</code>.</td>
  </tr>
  <tr>
    <td>source tarball</td>
    <td>Yes</td>
    <td>No</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.1/mountebank-v1.1.36-npm.tar.gz">mb</a></li>
      </ul>
    </td>
    <td>source tarball if you roll that way.</td>
  </tr>
</table>
