<h1>v1.2.30</h1>

<p>The following changes are part of this release.</p>

<h2>New Features</h2>
<ul class='bullet-list'>
  <li>A new <a href='http://<%= host %>/docs/protocols/tcp#endOfRequestResolver'><code>endOfRequestResolver</code></a>
    that now allows you to define the end of a TCP request for any application protocol built on top of TCP.
    This is an important feature as previously mountebank had to make a guess at when a TCP request ended which
    only worked if the request was small.  Now mountebank can support any application protocol in TCP.</li>
  <li>Links to all previous releases are now available on the <a href='http://<%= host %>/releases'>releases</a> page.</li>
</ul>

<h2>Bug Fixes</h2>
<ul class='bullet-list'>
  <li>Removed some spurious log statements.</li>
</ul>

<p>Many thanks to the following kind folk for help with this release, for documentation fixes, helping to diagnose
  the problem using the tcp protocol for large requests, and testing the fix:</p>

<ul class='bullet-list'>
  <li>David Peleg</li>
  <li>Andrew Hadley</li>
  <li>James Thomas</li>
  <li>O'Dwayne Irving</li>
</ul>

<h2>Install</h2>

<pre><code>
  npm install -g mountebank@1.2.30 --production
</code></pre>

<p>or:</p>

<table>
  <tr>
    <th>Option</th>
    <th>node.js required?</th>
    <th>sudo required?</th>
    <th>links</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Self-contained archives</td>
    <td>No</td>
    <td>No</td>
    <td style="min-width: 5em;">
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.30-darwin-x64.tar.gz">osx</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.30-linux-x86.tar.gz">linux x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.30-linux-x64.tar.gz">linux x64</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.30-win-x86.zip">win x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.30-win-x64.zip">win x64</a></li>
      </ul>
    </td>
    <td>Simply unpack and run <code>mb</code> from inside</td>
  </tr>
  <tr>
    <td>OS-specific packages</td>
    <td>No</td>
    <td>Yes</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.30.pkg">pkg</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-1.2.30-1.x86_64.rpm">rpm</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank_1.2.30_amd64.deb">deb</a></li>
      </ul>
    </td>
    <td>Puts <code>mb</code> at <code>/usr/local/bin</code>, which is generally in the <code>PATH</code>.</td>
  </tr>
  <tr>
    <td>source tarball</td>
    <td>Yes</td>
    <td>No</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.30-npm.tar.gz">mb</a></li>
      </ul>
    </td>
    <td>source tarball if you roll that way.</td>
  </tr>
</table>
