<h1>v1.2.0</h1>

<p>The following changes are part of this release.  It followed so closely on the heels of
the <a href='/releases/v1.1.72'>v1.1.72</a> release that you may want to look at those
release notes as well.</p>

<h2>New Features</h2>
<ul class='bullet-list'>
  <li>A new <a href='/docs/api/behaviors'><code>decorate</code> behavior</a> to support
    post-processing responses before sending them.</li>
  <li>A new <code>removeProxies</code> query parameter to support easier record-playback
  behavior for <a href='/docs/api/proxies'>proxy stubs</a>.</li>
  <li>The <a href='/docs/api/overview#delete-imposter'>delete single imposter</a> and
  <a href='/docs/api/overview#delete-imposters'>delete all imposters</a> API calls
  now both accept the <code>replayable</code> and <code>removeProxies</code> query
  params.</li>
  <li>Improved validation during imposter creation to make using the API easier.
    Previously, mountebank would only validate (at best) the first response of each stub
    during creation due to the complexity of validating all scenarios.
    Now, all responses always get validated.</li>
</ul>

<h2>Install</h2>

<pre><code>
  npm install -g mountebank@1.2.0 --production
</code></pre>

<p>or:</p>

<table>
  <tr>
    <th>Option</th>
    <th>node.js required?</th>
    <th>sudo required?</th>
    <th>links</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Self-contained archives</td>
    <td>No</td>
    <td>No</td>
    <td style="min-width: 5em;">
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.0-darwin-x64.tar.gz">osx</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.0-linux-x86.tar.gz">linux x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.0-linux-x64.tar.gz">linux x64</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.0-win-x86.zip">win x86</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.0-win-x64.zip">win x64</a></li>
      </ul>
    </td>
    <td>Simply unpack and run <code>mb</code> from inside</td>
  </tr>
  <tr>
    <td>OS-specific packages</td>
    <td>No</td>
    <td>Yes</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.0.pkg">pkg</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-1.2.0-1.x86_64.rpm">rpm</a></li>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank_1.2.0_amd64.deb">deb</a></li>
      </ul>
    </td>
    <td>Puts <code>mb</code> at <code>/usr/local/bin</code>, which is generally in the <code>PATH</code>.</td>
  </tr>
  <tr>
    <td>source tarball</td>
    <td>Yes</td>
    <td>No</td>
    <td>
      <ul>
        <li><a href="https://s3.amazonaws.com/mountebank/v1.2/mountebank-v1.2.0-npm.tar.gz">mb</a></li>
      </ul>
    </td>
    <td>source tarball if you roll that way.</td>
  </tr>
</table>
