<h1>v<%= releaseVersion %></h1>

<p class='info-icon'>Be sure to keep up with the latest releases by subscribing to the
    <a href='http://mbtest.org/feed'>ATOM feed</a>.</p>

<p>This release served only to fix a deployment issue. Please see
<a href='//<%= host %>/releases/v2.8.0'>v2.8.0</a> for release notes</p>
