<h1>v<%= releaseVersion %></h1>

<p class='info-icon'>Be sure to keep up with the latest releases by subscribing to the
    <a href='http://mbtest.org/feed'>ATOM feed</a>.</p>

<h2>New Features</h2>
<ul class='bullet-list'>
    <li>Improved Prometheus metrics collection</li>
</ul>

<h2>Bug Fixes</h2>
<ul class='bullet-list'>
    <li>Increase https default cert and key length</li>
    <li>Additional error handling on http proxies</li>
</ul>

<h2>Contributors</h2>
<p>Many thanks to the following kind folks for help with this release, either through bug reports,
    suggestions, or direct code contributions:</p>

<ul class='bullet-list'>
    <li>Arvind Sridharan</li>
    <li>MakersAll8</li>
    <li>Tan Yeong Sheng</li>
    <li>Deivid de Assis Teixeira</li>
    <li>Xiao Li</li>
    <li>Charlie Groves</li>
</ul>

<h2>Install</h2>

<pre><code>npm install -g mountebank@<%= releaseVersion %></code></pre>
