<%
title = 'client libraries'
description = 'Native client libraries for your favorite language'
%>

<% include ../_header %>

<h1>Client Libraries</h1>

<p>While mountebank speaks <a href='/docs/api/overview'>REST</a>, he truly loves your native language
and has no desire to make you learn another language.  Though he wishes he had time to implement native
bindings for you, time constraints have so far prevented him from doing so.  Nonetheless, if you have
a native library you'd like others to be able to use, please send mountebank a note on the
<a href='/support'>support page</a> and he will add it to the list below, or submit a pull request
for this page.</p>

<div>
    <ul class='bullet-list'>
      <li>Ruby: <a href='https://github.com/CoderKungfu/mountebank-gem'>mountebank-gem</a> (thanks Michael Cheng)</li>
    </ul>
</div>

<% include ../_footer %>
