<% include ../_header %>

<h1>Command Line</h1>

<p>Running <code>mb</code> by itself will start up the API (and this site)
  on port 2525.  Here are the options for <code>mb</code>:</p>

<table>
  <tr>
    <th>Option</th>
    <th>Description</th>
    <th>Default</th>
  </tr>
  <tr>
    <td><code><em>command</em></code></td>
    <td>One of <code>start</code>, <code>stop</code>, <code>restart</code>, or
      <code>help</code> (which shows the usage information).</td>
    <td><code>start</code></td>
  </tr>
  <tr>
    <td><code>--port 2525</code></td>
    <td>The port to run the main mountebank server on.</td>
    <td><code>2525</code></td>
  </tr>
  <tr>
    <td><code>--configfile imposters.json</code></td>
    <td>If present, mountebank will load the contents of the file passed by sending
    a <a href='/docs/api/overview#put-imposters'><code>PUT</code> command</a>
    to <code>/imposters</code>.  See the <a href='/docs/api/overview#put-imposters'>
    API docs</a> for what the content should look like.  This is the same content you get
    from a <a href='/docs/api/overview#get-imposters'>
    <code>GET /imposters?replayable=true</code></a> call.  Alternatively, if you prefer
    keeping each imposter in a separate file, you may do so and pass a file glob pattern.
    For Windows, use only forward slashes as the <a href='https://github.com/isaacs/node-glob#glob-primer'>
    globbing implementation</a> always interprets backslashes as escape characters.
    Make sure to quote your glob pattern to avoid the shell interpreting it.</td>
    <td><code>N/A</code></td>
  </tr>
  <tr>
    <td><code>--logfile mb.log</code></td>
    <td>The file for mountebank to store the logs in.  You can view the contents
      on the <a href='/logs'>logs</a> page.  Please include this with any support
      requests after running with <code>--loglevel debug</code>.</td>
    <td><code>mb.log</code></td>
  </tr>
  <tr>
    <td><code>--loglevel debug</code></td>
    <td>The logging level for the console, one of <code>debug, info, warn, error</code></td>
    <td><code>info</code></td>
  </tr>
  <tr>
    <td><code>--allowInjection</code></td>
    <td>mountebank supports JavaScript injection for both predicates and stub responses,
      but they are disabled by default.  Including this parameter will enable them,
      which are <code>eval</code>'d in.  See the <a href='/docs/api/injection'>injection</a>
      page for more details.</td>
    <td><code>false</code></td>
  </tr>
  <tr>
    <td><code>--nomock</code></td>
    <td>mountebank supports mock verification and stub debugging by remembering the requests
      made against each stub.  See the <a href='/docs/api/mocks'>mocks</a> page for more details.
      This represents a memory leak for any long running <code>mb</code> process, as requests are
      never forgotten.  The <code>--nomock</code> flag turns this behavior off.</td>
    <td><code>false</code></td>
  </tr>
  <tr>
    <td><code>--pidfile</code></td>
    <td>The file where the pid is stored for the stop command</td>
    <td><code>mb.pid</code></td>
  </tr>
  <tr>
    <td><code>--keyfile key.pem</code></td>
    <td>Determines the key to use for https certificates.</td>
    <td>An internal key</td>
  </tr>
  <tr>
    <td><code>--certfile cert.pem</code></td>
    <td>Determines the cert to use for https certificates.</td>
    <td>An internal self-signed certificate</td>
  </tr>
  <tr>
    <td><code>--tcpProxyWait 100</code></td>
    <td>Time to wait (in ms) before closing tcp proxy connection to origin</td>
    <td><code>0</code></td>
  </tr>
  <tr>
    <td><code>--version</code></td>
    <td>Print the version out to the console and exit.</td>
    <td><code>N/A</code></td>
  </tr>
</table>

<p>Note that <code>mb</code> is not persistent.  Stopping and restarting <code>mb</code>
will lose all stubs and all requests.</p>

<% include ../_footer %>
