<% include ../_header %>

<h1>Examples</h1>

<p>mountebank knows an example is worth a thousand words, which is why he has catalogued examples here for
your viewing pleasure.  If you have an example you'd like to add to the gallery, please contact mountebank,
either through the <a href='/support'>support</a> mailing list or mountebank's personal email address listed on the
<a href='https://github.com/bbyars/mountebank'>github</a> page, or submit a pull request which mountebank will
happily accept.</p>

<dl>
  <dt><a href='http://nikosbaxevanis.com/blog/2014/04/22/mountebank-mocks-with-f-number/'>F# - mocking SMTP</a></dt>
  <dd>Nikos Baxevanis shows how to verify SMTP calls from the system under test using F#.  The
    <a href='https://gist.github.com/moodmosaic/11169180'>gist</a> shows the code.</dd>

  <dt><a href='http://nikosbaxevanis.com/blog/2014/05/02/mountebank-stubs-with-f-number/'>F# - stubbing HTTP</a></dt>
  <dd>Nikos Baxevanis continues his F# series by stubbing HTTP using mountebank.  In a neat trick, he shows
    how to extract the setup and teardown in an Interceptor.  Once again, he makes the code available in a
    <a href='https://gist.github.com/moodmosaic/1fbad33d03b11b188edc'>gist</a>.</dd>

  <dt><a href='http://brandonbyars.com/2014/02/10/stubbing-a-mule-tcp-connector-with-mountebank/'>
    Java - stubbing binary serialized objects over TCP</a></dt>
  <dd>mountebank himself shows an example of stubbing binary Java object graphs over TCP, in a modified version
    of the code from the project that inspired the creation of the tool.</dd>

  <dt><a href='https://github.com/bbyars/car-brakes-csharp-remoting'>.NET - proxying .NET remoting over TCP</a></dt>
  <dd>mountebank shows a simple example of record-replay proxying with .NET remoting.</dd>
</dl>

<% include ../_footer %>
