<%
title = 'examples'
description = 'Example articles on using mountebank'
%>

<% include ../_header %>

<h1>Examples</h1>

<p>mountebank knows an example is worth a thousand words, which is why he has catalogued examples here for
your viewing pleasure.  If you have an example you'd like to add to the gallery, please contact mountebank,
either through the <a href='/support'>support</a> mailing list or mountebank's personal email address listed on the
<a href='https://github.com/bbyars/mountebank'>github</a> page, or submit a pull request which mountebank will
happily accept.</p>

<dl>
  <dt><a href='http://nikosbaxevanis.com/blog/2014/04/22/mountebank-mocks-with-f-number/'>F# - mocking SMTP</a></dt>
  <dd>Nikos Baxevanis shows how to verify SMTP calls from the system under test using F#.  The
    <a href='https://gist.github.com/moodmosaic/11169180'>gist</a> shows the code.</dd>

  <dt><a href='http://nikosbaxevanis.com/blog/2014/05/02/mountebank-stubs-with-f-number/'>F# - stubbing HTTP</a></dt>
  <dd>Nikos Baxevanis continues his F# series by stubbing HTTP using mountebank.  In a neat trick, he shows
    how to extract the setup and teardown in an Interceptor.  Once again, he makes the code available in a
    <a href='https://gist.github.com/moodmosaic/1fbad33d03b11b188edc'>gist</a>.</dd>

  <dt><a href='http://brandonbyars.com/2014/02/10/stubbing-a-mule-tcp-connector-with-mountebank/'>
    Java - stubbing binary serialized objects over TCP</a></dt>
  <dd>mountebank himself shows an example of stubbing binary Java object graphs over TCP, in a modified version
    of the code from the project that inspired the creation of the tool.</dd>

  <dt><a href='https://github.com/bbyars/car-brakes-csharp-remoting'>.NET - proxying .NET remoting over TCP</a></dt>
  <dd>mountebank shows a simple example of record-replay proxying with .NET remoting.</dd>

  <dt><a href='https://blog.codecentric.de/en/2015/06/mock-server-powered-by-mountebank-and-docker/'>
    A mock server powered by mountebank and Docker
  </a></dt>
  <dd>An example that builds a Docker container hosting mountebank.</dd>

  <dt><a href='http://www.adictosaltrabajo.com/tutoriales/introduccion-a-mountebank-para-la-creacion-de-servidores-dobles-de-test/'>
    A Java example for testing SMTP
  </a></dt>
  <dd>Javier T. Garcia Ortiz wrote a fully-functional example detailing the code and maven build steps to get this
  working in Java.  mountebank admits he had to use his browser's Translate functionality to read it.</dd>

  <dt><a href='https://gowalker.org/github.com/rbock44/mbgo'>A Go preprocessor</a></dt>
  <dd>An example Go preprocessor to a mountebank request</dd>

  <dt><a href='https://www.snip2code.com/Snippet/203758/Starting-MounteBank-stubs-from-inside-gr'>
    mountebank and gradle
  </a></dt>
  <dd>An example showing starting mountebank from inside gradle</dd>

  <dt><a href='https://gist.github.com/datoon83/b42fca8e0df83a3f3393'>mountebank and Powershell</a></dt>
  <dd>An example showing installing and starting mountebank from within Powershell</dd>

  <dt><a href='https://blog.codecentric.de/en/2015/06/mule-esb-testing-part-33-system-end-to-end-testing-with-docker/'>
      Testing a Mule ESB with Docker and mountebank</a></dt>
  <dd>Conrad P&ouml;pke describes using a Docker container running mountebank to stub a Mule ESB</dd>

  <dt><a href='http://tpodolak.com/blog/2016/02/25/mocking-downstream-services-mountebank/'>Mocking downstream
      services with mountebank</a></dt>
  <dd>Tomasz Podolak shows a fully worked out example using mountebank in C#</dd>
</dl>

<h2>Microservices testing references mentioning mountebank</h2>

<dl>
  <dt><a href='http://shop.oreilly.com/product/0636920033158.do'>
    The microservices book</a></dt>
  <dd>Sam Newman's book is the canonical reference on the subject.</dd>

  <dt><a href='http://paulhammant.com/2015/10/16/using-mountebank-to-detatch-frontend-and-backend-development/'>
    Using mountebank to detach frontend and backend development
  </a></dt>
  <dd>The inimitable Paul Hammant describes how his teams use mountebank to allow front-end
  and back-end teams to develop in isolation.</dd>

  <dt><a href='http://martinfowler.com/articles/microservice-testing/'>Testing Strategies in a Microservice Architecture</a></dt>
  <dd>Toby Clemson's infodeck around testing strategies</dd>

  <dt><a href='https://dzone.com/articles/service-virtualization-strategy-sandboxing-for-mic'>Service Virtualization
      Strategy (Sandboxing) for Microservices</a></dt>
  <dd>Venkat Rangasamy writes about service virtualization, including mountebank, for DZone</dd>

  <dt><a href='http://www.slideshare.net/VodqaBLR/mountebank-and-you'>mountebank and you</a></dt>
  <dd>Nagesh Kumar, who was the QA on the first team to use mountebank, provides a deck giving an overview of the tool</dd>
</dl>

<% include ../_footer %>
