<table>
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><code>repeat</code></td>
    <td>A positive, non-zero integer</td>
    <td>The number of times to repeat this response</td>
  </tr>
</table>

<p>The <code>repeat</code> behavior allows certain responses to return a certain number of times before
    moving on to the next reponse in the array. In the below example, the first response is configured to
    return 2 times before advancing to the second response:</p>

<pre><code data-test-id='repeat'
           data-test-step='1'
           data-test-type='http'>
POST /imposters HTTP/1.1
Host: localhost:<%= port %>
Accept: application/json
Content-Type: application/json

{
  "port": 7777,
  "protocol": "http",
  "stubs": [
    {
      "responses": [
        {
          "is": {
            "body": "This will repeat 2 times"
          },
          "_behaviors": {
            "repeat": 2
          }
        },
        {
          "is": {
            "body": "Then this will return"
          }
        }
      ]
    }
  ]
}
</code></pre>

<p>Now the first response will return 2 times before returning the second response.</p>

<pre><code data-test-id='repeat'
           data-test-step='2'
           data-test-type='http'>
GET / HTTP/1.1
Host: localhost:7777
</code></pre>

<pre><code data-test-id='repeat'
           data-test-verify-step='2'
           data-test-ignore-lines='["^Date"]'>
HTTP/1.1 200 OK
Date: Thu, 01 Jan 2015 02:30:31 GMT
Connection: close
Transfer-Encoding: chunked

This will repeat 2 times
</code></pre>


<pre><code data-test-id='repeat'
           data-test-step='3'
           data-test-type='http'>
GET / HTTP/1.1
Host: localhost:7777
</code></pre>

<pre><code data-test-id='repeat'
           data-test-verify-step='3'
           data-test-ignore-lines='["^Date"]'>
HTTP/1.1 200 OK
Date: Thu, 01 Jan 2015 02:30:31 GMT
Connection: close
Transfer-Encoding: chunked

This will repeat 2 times
</code></pre>


<pre><code data-test-id='repeat'
           data-test-step='4'
           data-test-type='http'>
GET / HTTP/1.1
Host: localhost:7777
</code></pre>

<pre><code data-test-id='repeat'
           data-test-verify-step='4'
           data-test-ignore-lines='["^Date"]'>
HTTP/1.1 200 OK
Date: Thu, 01 Jan 2015 02:30:31 GMT
Connection: close
Transfer-Encoding: chunked

Then this will return
</code></pre>

<code class='hidden'
      data-test-id='repeat'
      data-test-step='5'
      data-test-type='http'>
DELETE /imposters/7777 HTTP/1.1
Host: localhost:<%= port %>
</code>
