    </div>

    <hr />

    <footer>
      <nav>
        <ul>
          <li><a href='#'>support</a></li>
          <li><a href='#'>contributing</a></li>
        </ul>
      <nav>
    </footer>
  </body>
</html>
