      </div>
    </div>

    <hr />

    <footer>
      <nav class='horizontal'>
        <ul>
          <li><a href='https://github.com/sponsors/bbyars'>sponsorship</a></li>
          <li><a href='/releases'>releases</a></li>
          <li><a href='https://github.com/bbyars/mountebank/blob/master/CONTRIBUTING.md'>contributing</a></li>
          <li><a href='/license'>license</a></li>
          <li><a href='https://github.com/bbyars/mountebank'>source</a></li>
          <li><a href='https://github.com/bbyars/mountebank/issues'>issues</a></li>
        </ul>
      </nav>
    </footer>

  <% if (heroku) { -%>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46250848-1', 'mbtest.org');
      ga('send', 'pageview');
    </script>
  <% } -%>
  </body>
</html>
