      </div>
    </div>

    <hr />

    <footer>
      <nav class='horizontal'>
        <ul>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li><a href='/releases'>releases</a></li>
          <li><a href='https://github.com/bbyars/mountebank/blob/master/CONTRIBUTING.md'>contributing</a></li>
          <li><a href='/license'>license</a></li>
          <li><a href='https://github.com/bbyars/mountebank'>source</a></li>
          <li><a href='https://github.com/bbyars/mountebank/issues'>issues</a></li>
        </ul>
      </nav>
    </footer>

  </body>
</html>
