<!DOCTYPE html>
<html>
  <head>
    <title>mountebank</title>
    <link rel='stylesheet' href='/stylesheets/application.css' />
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <header>
      <img src='/images/mountebank.png' alt='mountebank' />
      <p>mountebank - over the wire test doubles</p>

      <nav>
        <ul>
          <li><a href='/'>home</a></li>
          <li><a href='/imposters'>imposters</a></li>
          <li><a href='/logs'>log</a></li>
          <li><a href='/docs'>docs</a></li>
          <li><a href='/faqs'>faq</a></li>
        </ul>
      </nav>

      <a href="https://github.com/bbyars/mountebank">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
      </a>
    </header>

    <hr />

    <div id='main'>
