<!DOCTYPE html>
<html>
  <head>
    <title>mountebank</title>
    <link rel='stylesheet' href='/stylesheets/application.css' />
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <div id='main'>
      <header>
        <a href='/'><img src='/images/mountebank.png' alt='mountebank' /></a>
        <p>mountebank - over the wire test doubles</p>

        <nav class='horizontal'>
          <ul>
            <li><a href='/'>home</a></li>
            <li><a href='/imposters'>imposters</a></li>
            <li><a href='/logs'>logs</a></li>
            <li><a href='/config'>config</a></li>
            <li><a href='/feed' class='feed-icon'></a></li>
          </ul>
        </nav>

        <a href="https://github.com/bbyars/mountebank">
          <img style="position: absolute; top: 0; right: 0; border: 0;"
               src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
        </a>
      </header>

      <hr />

      <div id='sidenav'>
        <h3>the apothecary</h3>
        <nav class='vertical'>
          <ul>
            <li><a href='/docs/gettingStarted'>getting started</a></li>
            <li><a href='/docs/examples'>examples</a></li>
            <li><a href='/docs/install'>install options</a></li>
            <li><a href='/docs/commandLine'>command line</a></li>
            <li><a href='/faqs'>faq</a></li>
            <li><a href='/support'>support</a></li>
            <li><a href='/docs/glossary'>glossary</a></li>
          </ul>

          <p>api:</p>
          <ul>
            <li><a href='/docs/api/overview'>overview</a></li>
            <li><a href='/docs/api/mocks'>mock verification</a></li>
            <li><a href='/docs/api/stubs'>stubs</a></li>
            <li><a href='/docs/api/predicates'>stub predicates</a></li>
            <li><a href='/docs/api/proxies'>stub proxies</a></li>
            <li><a href='/docs/api/injection'>stub injection</a></li>
            <li><a href='/docs/api/errors'>errors</a></li>
          </ul>

          <p>protocols:</p>
          <ul>
            <li><a href='/docs/protocols/http'>http</a></li>
            <li><a href='/docs/protocols/https'>https</a></li>
            <li><a href='/docs/protocols/tcp'>tcp</a></li>
            <li><a href='/docs/protocols/smtp'>smtp</a></li>
          </ul>
        </nav>
      </div>

      <div id='content'>
