<!DOCTYPE html>
<html>
  <head>
    <title>mountebank</title>
    <link rel='stylesheet' href='/stylesheets/application.css' />
  </head>
  <body>
    <header>
      <img src='/images/mountebank.png' alt='mountebank' />
      <p>mountebank - over the wire test doubles</p>

      <nav>
        <ul>
          <li><a href='/'>home</a></li>
          <li><a href='/imposters'>imposters</a></li>
          <li><a href='/logs'>log</a></li>
          <li><a href='/docs'>docs</a></li>
          <li><a href='/faqs'>faq</a></li>
        </ul>
      </nav>
    </header>

    <hr />

    <div id='main'>
