<% include _header %>

<h1>Config</h1>

<table>
  <tr>
    <td>version</td>
    <td><%= version %></td>
  </tr>
  <tr>
    <td>allowInjection</td>
    <td><%= allowInjection %></td>
  </tr>
  <tr>
    <td>logfile</td>
    <td><%= logfile %></td>
  </tr>
</table>

<% include _footer %>
