<% include _header %>

      <h1>Frequently Asked Questions</h1>

      <dl>
        <dt>How do you pronounce mountebank?</dt>
        <dd>mountebank pronounces it with a plain and unpretentious accent,
        reflecting his humble roots as a man of the people.</dd>

        <dt>Why is the command line application simply called <code>mb</code>?</dt>
        <dd>Because <code>mb</code> is the soul of wit.</dd>

        <dt>Why did you misspell impostor?</dt>
        <dd>mountebank is not an educated man, having spent the waking hours of his
        youth caring for the poor and the sick.</dd>
      </dl>

<% include _footer %>
