<% include _header %>

      <h1>Frequently Asked Questions</h1>

      <dl>
        <dt>How do you pronounce mountebank?</dt>
        <dd>mountebank pronounces it with a plain an unprententious accent,
        reflecting his humble roots as a man of the people.</dd>

        <dt>Why is the command line application simply called mb?</dt>
        <dd>Because mb is the soul of wit.</dd>
      </dl>

<% include _footer %>
