<%
title = 'running imposters'
description = 'Information about the currently running imposters'
%>

<% include _header %>

<link rel='stylesheet' type='text/css' href='/stylesheets/imposters.css' />

<h1>Imposters</h1>

<p><em>You may explore other UIs, like the one created by
<a href='http://donhenton.github.io/mountebank-UI/public_html/index.html#/'>Don Henton</a>.</em></p>

<% if (heroku) { -%>
<p>This page is hosted on heroku, and while it will accept imposter creation requests, the ports that the
imposters bind to are not exposed to the outside world.  However, running <code>mb</code> will spin up
this website locally.</p>
<% } -%>

<table id='imposters'>
  <tr>
    <th style='width: 15em;'>name</th>
    <th style='width: 6em;'>protocol</th>
    <th style='width: 5em;'>port</th>
    <th style='width: 6em;'># requests</th>
  </tr>

  <% imposters.forEach(imposter => { %>
  <% include _imposter %>
  <% }); -%>
</table>


<% include _footer %>
