<% include _header %>

<h1>Imposters</h1>

<p>See the docs on the left for creating an imposter.  At this time, mountebank does not support
creating imposters through this UI.  <% if (heroku) { %> This page is hosted on heroku, and while it
will accept imposter creation requests, the imposters are not actually able to bind to a different port
in heroku. <% } %></p>
<p>The following imposters have been created:</p>

<ul>
<% imposters.forEach(function (imposter) { %>
  <li><a href="<%= imposter._links.self.href %>"><%= imposter.protocol %> on port <%= imposter.port %></a></li>
<% }); %>
</ul>

<% include _footer %>
