<%
title = 'running imposters'
description = 'Information about the currently running imposters'
%>

<%- include('_header') -%>

<link rel='stylesheet' type='text/css' href='/stylesheets/imposters.css' />

<h1>Imposters</h1>

<p><em>You may explore other UIs, including:</em></p>
<ul class='bullet-list'>
  <li><em><a href='http://donhenton.github.io/mountebank-UI/public_html/index.html#/'>Mountebank-UI by Don Henton</a></em></li>
  <li><em><a href='https://github.com/Opus-Software/disguise'>Disguise by Opus Software</a></em></li>
  <li><em><a href='https://github.com/testinggospels/mountebank-ui'>Mountebank UI by The Testing Gospels</a></em></li>
</ul>

<table id='imposters'>
  <tr>
    <th style='width: 15em;'>name</th>
    <th style='width: 6em;'>protocol</th>
    <th style='width: 5em;'>port</th>
    <th style='width: 6em;'># requests</th>
  </tr>

  <% imposters.forEach(imposter => { %>
  <%- include('_imposter', {imposter}) -%>
  <% }); -%>
</table>


<%- include('_footer') -%>
