<% include _header %>

      <h1>Welcome, friend</h1>

      <p>mountebank provides multi-protocol, multi-language test doubles over the wire.
      Learning mountebank couldn't be easier.  Start off simply by using this website.
      The key domain concept is an <dfn>imposter</dfn>, which represents a test double.
      The only thing you need to do is give an imposter a port and pick a protocol,
      and mountebank will provide you access to all requests to that imposter.  If you
      want stubbing as well, mountebank provides for you a rich set of stubbing
      primitives.</p>

      <p>Once you're satisfied that mountebank is for you, simply <code>npm install -g mb</code>.
      mountebank has been tested with node.js 0.8 and 0.10.  Then, a simple <code>mb</code> will
      get you going.</p>

      <p>mountebank is still a work in progress.  Not all protocols are implemented yet, and
      native language bindings are still being worked on.  Fear not, friend, for mountebank has
      a team of open source developers, and they are legion.</p>

      <p>mountebank has a FOREVER guarantee.  If, after using our product, you find yourself
      dissatisfied, you can bring it back before FOREVER for a full refund.
      <a href='#' class='fine-text' title='if (false) { return lotsOfMoney(); }'>Certain
      conditions apply.</a></p>

      <h2>Why mountebank?</h2>

      <p>There are many other tools, some of them quite good, that will provide HTTP stubbing.
      Some of them don't actually go over the wire, instead relying on faking on some low-level
      network libraries.  As such, they are forever tied to the language in which they are
      implemented in.  Others rely on loading the stubbing setup through a configuration file.
      This means your tests are forced to depend on significant setup external to the test code
      itself, and that you cannot make mock-style verifications on certain HTTP calls.</p>

      <p>None of them support multiple protocols.  None of them support multiple native language
      bindings.</p>

      <p>Let's have a look at the feature set of mountebank compared to its competitors:</p>

      <table class='comparison'>
        <tr>
          <th>&nbsp;</th>
          <th>competitors</th>
          <th>mountebank</th>
        </tr>
        <tr>
          <td>HTTP stubbing</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Load stubs from config file</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Record / playback through proxies</td>
          <td>some</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Advanced predicates</td>
          <td>some</td>
          <td>x</td>
        </tr>
        <tr>
          <td>HTTP mock verification</td>
          <td>fewer still</td>
          <td>x</td>
        </tr>
        <tr>
          <td>In-test stub setup</td>
          <td>very few</td>
          <td>x</td>
        </tr>
        <tr>
          <td>UI for manual testing</td>
          <td></td>
          <td>x</td>
        </tr>
        <tr>
          <td>Bindings in multiple languages</td>
          <td></td>
          <td>coming soon</td>
        </tr>
        <tr>
          <td>HTTPS</td>
          <td></td>
          <td>coming soon</td>
        </tr>
        <tr>
          <td>SMTP</td>
          <td></td>
          <td>coming soon</td>
        </tr>
        <tr>
          <td>All other protocols</td>
          <td></td>
          <td>coming soon</td>
        </tr>
      </table>

      <p>mountebank will cure what ails you, guaranteed.</p>

      <h3>Testimonials</h3>

      <blockquote>
        <p>If mountebank had been available just a few months earlier, we wouldn't be in this situation.</p>
        <p class='cite'>healthcare.gov architects</p>
      </blockquote>

      <blockquote>
        <p>If mountebank would have been available back in my day, we wouldn't have
           spent the last 2,700 years complaining about how long it takes to build Rome.</p>
        <p class='cite'>Remus and Romulus</p>
      </blockquote>

      <blockquote>
        <p class='quote'>With mountebank, all the world's a nail.</p>
        <p class='cite'>Thor</p>
      </blockquote>

<% include _footer %>
