<% include _header %>

<h1>Welcome, friend</h1>

<p>mountebank is the first tool to provide multi-protocol, multi-language test
doubles over the wire.  Just point your application under test to mountebank
instead of the real dependency, and test like you would with traditional stubs and mocks.</p>

<p>mountebank will tell you that he supports every protocol ever invented, and
a few lying in the weeds. He will swear that he supports bindings in every language
known to humanity. Some of the implementations are lagging, but worry not, for his
team of open source developers is legion.</p>

<h2>Testimonials</h2>

<blockquote>
  <p>With mountebank, maybe we could have built it in a day.</p>
  <p class='cite'>Remus and Romulus, builders of Rome</p>
</blockquote>

<blockquote>
  <p class='quote'>With mountebank, all the world's a nail.</p>
  <p class='cite'>Thor, God of Thunder</p>
</blockquote>

<blockquote>
  <p>Gee, I wish we used mountebank.</p>
  <p class='cite'>President Obama, reflecting on the healthcare.gov rollout</p>
</blockquote>

<% include _footer %>
