<% include _header %>

      <h1>Welcome, friend</h1>

      <p>mountebank is the first tool to provide multi-protocol, multi-language test
      doubles over the wire.  Learning mountebank couldn't be easier.</p>

      <h2>Getting Started</h2>

      <p>mountebank requires at least version 0.8 of <a href='http://nodejs.org/'>node.js</a>
      to run.  Install mountebank with npm: <code>npm install -g mountebank</code>.  Then, a
      simple <code>mb</code> command will start this website on port 2525 on your local computer.
      <code>mb help</code> will show the command line options, which are also described in
      the <a href='/docs'>docs</a>.</p>

      <p>Probably the easiest way to get familiar with what mountebank can do is to use this
      site (or the one you just installed locally).  The <a href='/imposters'>imposters</a>
      page is where all the interesting logic happens.  The key domain concept is an
      <dfn>imposter</dfn>, which represents a test double.  The only thing you need to create
      an imposter is a port and a protocol, and mountebank will provide you access to all requests
      to that imposter.  For instance, if you create an imposter on port 3000 as an HTTP server,
      then all HTTP interactions on port 3000 will be recorded.  The expectation is that you have
      configured your application under test to change it's web service dependency to
      http://localhost:3000 so you can test your application independently of service dependencies.</p>

      <p>mountebank provides a rich set of stubbing options, and the
      <a href='/imposters'>imposters</a> UI will help you define stubs for the imposter as well.
      It will also output the API call needed to create the same imposter without the UI, which
      is how automated tests can take advantage of mountebank's functionality.  To make it even
      easier, mountebank will provide native language bindings for common languages, that abstracts
      the API away from your tests.</p>

      <h2>Testimonials</h2>

      <blockquote>
        <p>If mountebank had been available just a few months earlier, we wouldn't be in this situation.</p>
        <p class='cite'>healthcare.gov architects</p>
      </blockquote>

      <blockquote>
        <p>If mountebank would have been available back in my day, we wouldn't have
           spent the last 2,700 years complaining about how long it takes to build Rome.</p>
        <p class='cite'>Remus and Romulus</p>
      </blockquote>

      <blockquote>
        <p class='quote'>With mountebank, all the world's a nail.</p>
        <p class='cite'>Thor, God of Thunder</p>
      </blockquote>

<% include _footer %>
