<% include _header %>

<h1>Logs</h1>

<table class='logs'>
  <tr>
    <th>level</th>
    <th>timestamp</th>
    <th>message</th>
  </tr>
<% logs.forEach(function (log) { %>
  <tr>
    <td><%= log.level %></td>
    <td><%= log.timestamp %></td>
    <td><%= log.message %></td>
  </tr>
<% }) %>
</table>

<% include _footer %>
