<%
title = 'logs'
description = 'Logs of the currently running mb process'
%>

<% include _header %>

<h1>Logs</h1>

<div id='tail' class='down-arrow-icon button'> <span>Follow log</span></div>

<pre id='logs'>
  <code>
<% logs.forEach(function (log) { -%>
<%= log.level %> <%= log.message %>
<% }) -%>
  </code>
</pre>

<script type='text/javascript'>
  $(document).ready(function () {
    $('#tail').click(function () {
      var currentLeft = parseFloat($(this).css('left').replace('px', ''));

      if (this.tailing) {
        this.tailing = false;
        $('#tail span').text('Follow log');
        $(this).css('left', (currentLeft + 12) + 'px');
      }
      else {
        this.tailing = true;
        $('#tail span').text('Unfollow log');
        $(this).css('left', (currentLeft - 12) + 'px');
      }
    })
  });
</script>

<% include _footer %>
