<%
title = 'support'
description = 'Ask questions about anything related to mountebank on our Google Group'
%>

<%- include('_header') -%>

<h1>Support</h1>

<p>mountebank is sorry you're having trouble, but he is eager to help.  A
<a href='https://groups.google.com/forum/#!forum/mountebank-discuss'>Google group</a>
has been set up to help you.  Don't be shy!</p>

<%- include('_footer') -%>
