<%
title = 'support'
description = 'Ask questions about anything related to mountebank on our Google Group'
%>

<% include _header %>

<h1>Support</h1>

<p>mountebank is sorry you're having trouble, but he is eager to help.  A
<a href='https://groups.google.com/forum/#!forum/mountebank-discuss'>Google group</a>
has been set up to help you.  Don't be shy!</p>

<iframe id='forum_embed'
    src='https://groups.google.com/forum/embed/?place=forum/mountebank-discuss&&showsearch=true&showpopout=true&showtabs=false'
    scrolling='no'
    frameborder='0'
    width='900'
    height='700'>
</iframe>

<% include _footer %>
