<%
title = 'ThoughtWorks'
description = 'mountebank is heavily influenced by the software development philosophy of ThoughtWorks'
%>

<% include _header %>

<h1>ThoughtWorks</h1>

<p>The jazz guitarist
    Pat Metheny once advised that you should always be the worst musician in your
    band, because that way you're always motivated to get better, and surrounded
    by people who can help.  I never could have built this tool if I hadn't
    taken Pat's advice and joined <a href='https://www.thoughtworks.com'>ThoughtWorks</a>,
    who I really believe to be the best software delivery organization in the world.</p>

<p>If you're interested in working with amazing people, feel free to contact
me at my email listed on the <a href='https://github.com/bbyars/mountebank'>github</a> page.</p>

<% include _footer %>
