<% include _header %>

<h1>ThoughtWorks</h1>

<p>Like many charlatans, mountebank is a consultant.  mountebank works at
<a href='www.thoughtworks.com'>ThoughtWorks</a>, who he really believes to be
the best software delivery organization in the world.  The jazz guitarist
Pat Metheny once advised that you should always be the worst musician in your
band, because that way you're always motivated to get better, and surrounded
by people who can help.  This tool would never have been built if mountebank hadn't
taken Pat's advice and joined ThoughtWorks.</p>

<p>If you're interested in learning more about ThoughtWorks, mountebank's email
is listed on his <a href='https://github.com/bbyars/mountebank'> github</a> page.</p>

<% include _footer %>
