@font-face {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(http://themes.googleusercontent.com/static/fonts/berkshireswash/v1/4RZJjVRPjYnC2939hKCAin6EbtqG7Ha48C3_z7erIWs.woff) format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    src: url("http://netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.eot");
    src: url("http://netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("http://netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.woff") format("woff"), url("http://netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.ttf") format("truetype"), url("http://netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.svgfontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 1em 15%;
    color: #1f0909;
    font-family: Helvetica, sans-serif;
    background-color: #f3f2ee;
}

header {
    position: relative;
    height: 125px;
}

header img {
    float: left;
    height: 125px;
}

header p {
    position: absolute;
    bottom: 60px;
    left: 150px;
    float: left;
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
}

header nav {
    position: absolute;
    bottom: 0;
    left: 8em;
    float: left;
}

footer nav {
    position: relative;
    left: 10em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bullet-list {
    list-style-type: disc;
    padding: 1em;
}

.indent {
    margin: 0 0 0 1em;
    padding: 0 1em;
}

nav.vertical ul {
    margin-left: 1em;
}

nav.horizontal li {
    float: left;
}

nav.horizontal a:link, a:visited {
    width: 120px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

nav a:link, a:visited {
    display: block;
}

nav.vertical a {
    padding-top: 1px;
    margin-right: 1em;
}

nav.vertical p {
    font-weight: bold;
    color: #2b2b2b;
}

#main {
    width: 60em;
}

#sidenav {
    width: 10em;
    float: left;
    border-right: 1px solid #aaa;
    margin-bottom: 2em;
}

#content {
    width: 48.9em;
    float: left;
    padding-left: 1em;
    margin-bottom: 2em;
}

a:link, a:visited {
    color: #008;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    clear: both;
}

h1, h2, h3 {
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0 #ededed, 2px 2px 0 rgba(0,0,0,0.15);
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 1em;
}

table.logs th, table.logs td {
    font-size: small;
}

th {
    text-align: left;
    padding: 0.5em;
    border: 1px solid black;
}

td {
    vertical-align: top;
    padding: 0.5em;
    border: 1px solid black;
    max-width: 30em;
}

td:first-child {
    width: 10em;
}

blockquote {
    background: url(/images/quote.png) no-repeat top left;
    margin: 0;
    padding: 0 0 0 30px;
}

blockquote p {
    line-height: 1.5;
    margin: 0 0 15px 0;
    font-style: italic;
    color: #666;
}

blockquote p em {
    font-style: normal;
}

p.cite {
    font-style: normal;
    color: #222;
}

p.cite:before {
    content: "-\00a0\00a0\00a0\00a0"
}

dl {
    line-height: 1.5;
}

dt {
    font-style: italic;
}

dd:after {
    content: '\A\A';
    white-space: pre;
}

pre {
    background-color: #ddd;
    border: 1px solid #888;
    border-radius: 3px;
    overflow: auto;
    padding: 6px 10px;
}

code {
    font-family: "Monaco", "DejaVu Sans Mono", "Courier New", "Courier";
    font-size: 12px;
}

.hidden {
    display: none;
}

strong {
    font-weight: bold;
}

.highlight1 {
    color: brown;
}

.highlight2 {
    color: seagreen;
}

.highlight3 {
    color: royalblue;
}

.highlight4 {
    color: orangered;
}
/*
 * Accordion adapted from http://tympanus.net/codrops/2012/02/21/accordion-with-css3/
 */
.accordion label {
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #2b2b2b;
    text-shadow: 1px 1px 0 #ededed, 2px 2px 0 rgba(0,0,0,0.15);
    line-height: 33px;
    font-size: 19px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow:
        0 0 0 1px rgba(155,155,155,0.3),
        1px 0 0 0 rgba(255,255,255,0.9) inset,
        0 2px 2px rgba(0,0,0,0.1);
}

.accordion label:hover{
    background: #fff;
}

.accordion input:checked + label,
.accordion input:checked + label:hover {
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0 1px 1px rgba(255,255,255, 0.6);
    box-shadow:
        0 0 0 1px rgba(155,155,155,0.3),
        0 2px 2px rgba(0,0,0,0.1);
}

.accordion label:hover:after,
.accordion input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.accordion input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}

.accordion input {
    display: none;
}

.accordion section {
    margin-top: -1px;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.accordion input:checked ~ section {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
}

.accordion input:checked ~ section {
    height: auto;
}

.accordion a{
    text-decoration: none;
    outline: none;
}

section.expanded {
    height: auto;
}

/* fontawesome icons used */
.feed-icon:before {
    content: "\f09e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}

.thumbtack-icon:before {
    content:"\f08d";
    font-family: FontAwesome;
}

.info-icon:before {
    content: "\f05a  ";
    font-family: FontAwesome;
    color: green;
}

.warning-icon:before {
    content: "\f071  ";
    font-family: FontAwesome;
    color: #f07600;
    font-weight: bold;
}

.down-arrow-icon:before {
    content: '\f063';
    font-family: FontAwesome;
}

input[type=search] {
    width: 15em;
}

#searchButton {
    display: none;
}

#notice {
    float: right;
    padding: 0.4em;
    background-color: rgb(255,255,200);
}

#notice a {
    color: blue;
}

/* For contract pages */
.contract {
    float: left;
    width: 45%;
    margin-left: 1em;
}

#specification a {
    cursor: pointer;
}

#specification span {
    width: 100%;
    display: inline-block;
    cursor: default;
}

.response {
    color: #660055;
}

#specification a {
    visibility: hidden;
}

#specification-description {
    background-color: #ddd;
    border: 1px solid #888;
    border-radius: 3px;
    overflow: auto;
    padding: 6px 10px;
    margin-top: 14px;
}

#specification-description div {
    display: none;
    position: relative;
}

/* logs page */
.button {
    display: inline;
    cursor: pointer;
    padding: 2px 10px;
    background-color: #696867;
    color: #f2f2f2;
    font-size: 13px;
    border: none;
    border-radius: 2px;
}

.button:hover {
    text-decoration: underline;
}

#tail {
    position: relative;
    left: 52.8em;
    z-index: 10;
}

#logs {
    position: relative;
    top: -2.5em;
}

.debug {
    color: darkblue;
    font-weight: bold;
}

.info {
    color: darkgreen;
    font-weight: bold;
}

.warn {
    color: #ffaa00;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
