@font-face {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url(http://themes.googleusercontent.com/static/fonts/berkshireswash/v1/4RZJjVRPjYnC2939hKCAin6EbtqG7Ha48C3_z7erIWs.woff) format('woff');
}

body {
    margin: 1em 15%;
    color: #1f0909;
    font-family: Helvetica, sans-serif;
    background-color: #f3f2ee;
}

header {
    position: relative;
    height: 125px;
}

header img {
    float: left;
    height: 125px;
}

header p {
    position: absolute;
    bottom: 60px;
    left: 150px;
    float: left;
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
}

header nav {
    position: absolute;
    bottom: 0;
    left: 8em;
    float: left;
}

footer nav {
    position: relative;
}

nav.horizontal {
    left: 8em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.vertical ul {
    margin-left: 1em;
}

nav.horizontal li {
    float: left;
}

nav.horizontal a:link, a:visited {
    width: 120px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

nav a:link, a:visited {
    display: block;
}

nav.vertical a {
    padding-top: 1px;
    margin-right: 1em;
}

nav.vertical p {
    font-weight: bold;
    color: #2b2b2b;
}

#main {
    width: 60em;
}

#sidenav {
    width: 10em;
    float: left;
    border-right: 1px solid #aaa;
}

#content {
    width: 48.9em;
    float: left;
    padding-left: 1em;
}

a:link, a:visited{
    color: #008;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

hr {
    clear: both;
}

h1, h2, h3 {
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 2px 2px 0px rgba(0,0,0,0.15);
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

table.logs th, table.logs td {
    font-size: small;
}

th {
    text-align: left;
    padding: 0.5em;
    border: 1px solid black;
}

td {
    vertical-align: top;
    padding: 0.5em;
    border: 1px solid black;
    max-width: 30em;
    word-break: break-word;
}

td:first-child {
    width: 10em;
}

blockquote {
    background: url(/images/quote.png) no-repeat top left;
    margin: 0;
    padding: 0 0 0 30px;
}

blockquote p {
    line-height: 1.5;
    margin: 0 0 15px 0;
    font-style: italic;
    color: #666;
}

p.cite {
    font-style: normal;
    color: #222;
}

p.cite:before {
    content: "-\00a0\00a0\00a0\00a0"
}

dl {
    line-height: 1.5;
}

dt {
    font-style: italic;
}

dd:after {
    content: '\A\A';
    white-space: pre;
}

pre {
    background-color: #ddd;
    border: 1px solid #888;
    border-radius: 3px;
    overflow: auto;
    padding: 6px 10px;
}

code {
    font-family: "Monaco", "DejaVu Sans Mono", "Courier New", "Courier";
    font-size: 12px;
}

code.teardown {
    display: none;
}
