<div id='addStub-index-description'>
  <p>The array index to add the stub. Stubs are always evaluated in array order, and the first stub
  whose predicates match the request will be used. If you leave this value off the request, the stub
  will be added to the end of the array.</p>
</div>

<div id='addStub-stub-description'>
  <p>The stub to add. See the imposter contract for more information.</p>
  <p class='info-icon'>More information: <a href='/docs/api/contracts?type=imposter'>imposter contract</a></p>
</div>
