<pre id='addStub-specification'><code>{
<span id='addStub-index'><%- indent(2) %>&quot;index&quot;: 1,</span>
<span id='addStub-stub'><%- indent(2) %>&quot;stub&quot;: {
    &quot;responses&quot;: [{
      &quot;is&quot;: {
        &quot;body&quot;: &quot;Hello, world!&quot;
      }
    }]
  }</span>
}</code></pre>
