<div id='config-version-description'>
  <p>The mountebank version</p>
</div>

<div id='config-options-description'>
  <p>The command line options used to start <code>mb</code>.</p>
  <p class='info-icon'>More information: <a href='/docs/commandLine'>command line options</a></p>
</div>

<div id='config-process-description'>
  <p>Information about the running <code>mb</code> process</p>
</div>

<div id='config-process-nodeVersion-description'>
  <p>The version of node.js</p>
</div>

<div id='config-process-architecture-description'>
  <p>The operating system and architecture of the machine running mountebank.</p>
</div>

<div id='config-process-memory-description'>
  <p>The memory (in bytes) used by mountebank, and heap usage of the V8 JavaScript engine.</p>
</div>

<div id='config-process-uptime-description'>
  <p>The number of seconds this process has been running.</p>
</div>

<div id='config-process-cwd-description'>
  <p>The current directory, used to start <code>mb</code></p>
</div>
