<div id='home-_links-description'>
  <p>Defines the hypermedia relationships for mountebank.</p>
</div>

<div id='home-_links-imposters-description'>
  <p>Defines the URL for the imposters resource.</p>
  <p class='info-icon'>More information: <a href='/docs/api/contracts?type=imposter'>imposter contract</a></p>
</div>

<div id='home-_links-config-description'>
  <p>Defines the URL for the config resource.</p>
  <p class='info-icon'>More information: <a href='/docs/api/contracts?type=config'>config contract</a></p>
</div>

<div id='home-_links-logs-description'>
  <p>Defines the URL for the log resource.</p>
  <p class='info-icon'>More information: <a href='/docs/api/contracts?type=logs'>log contract</a></p>
</div>
