<pre id='home-specification'><code>{
<span id='home-_links'><%- indent(2) %>&quot;_links&quot;: {</span>
<span id='home-_links-imposters'><%- indent(4) %>&quot;imposters&quot;: {
      &quot;href&quot;: &quot;http://localhost:2525/imposters&quot;
    },</span>
<span id='home-_links-config'><%- indent(4) %>&quot;config&quot;: {
      &quot;href&quot;: &quot;http://localhost:2525/config&quot;
    },</span>
<span id='home-_links-logs'><%- indent(4) %>&quot;logs&quot;: {
      &quot;href&quot;: &quot;http://localhost:2525/logs&quot;
    }</span>
  }
}</code></pre>
