<pre id='imposters-specification'><code>{
<span id='imposters-imposters'><%- indent(2) %>&quot;imposters&quot;: [</span>
<span id='imposters-imposter'><%- indent(4) %>{
      &quot;protocol&quot;: &quot;http&quot;,
      &quot;port&quot;: 4546,
      &quot;_links&quot;: {
        &quot;self&quot;: {
          &quot;href&quot;: &quot;http://localhost:2525/imposters/4546&quot;
        }
      }
    }</span>
  ]
}</code></pre>
