<div id='imposters-imposters-description'>
  <p>An array of imposter objects.<p>
</div>

<div id='imposters-imposter-description'>
  <p>A single imposter object.</p>

  <p class='info-icon'>By default, the fields shown are the only ones returned.  Use
  additional <a href='/docs/api/overview#get-imposters'>query parameters</a> to return
  the full imposter definition, and optionally remove proxies for subsequent replays</p>

  <p class='info-icon'>More information: <a href='/docs/api/contracts?type=imposter'>imposter contract</a></p>
</div>
