<pre id='logs-specification'><code>{
<span id='logs-logs'><%- indent(2) %>&quot;logs&quot;: [
    {
      &quot;level&quot;: &quot;info&quot;,
      &quot;message&quot;: &quot;[mb:2525] mountebank v1.4.1 (node v4.2.0) now taking orders - point your browser to http://localhost:2525 for help&quot;,
      &quot;timestamp&quot;: &quot;2015-10-20T02:24:41.818Z&quot;
    },
    {
      &quot;level&quot;: &quot;info&quot;,
      &quot;message&quot;: &quot;[mb:2525] Adios - see you soon?&quot;,
      &quot;timestamp&quot;: &quot;2015-10-20T02:31:38.109Z&quot;
    }
  ]</span>
}</code></pre>
