<pre id='stub-specification'><code>{
<span id='stub-stub'><%- indent(2) %>&quot;responses&quot;: [{
    &quot;is&quot;: {
      &quot;body&quot;: &quot;Hello, world!&quot;
    }
  }]</span>
}</code></pre>
