<pre id='stubs-specification'><code>{
  &quot;stubs&quot;: [
<span id='stubs-stub'><%- indent(4) %>{
      &quot;responses&quot;: [{
        &quot;is&quot;: {
          &quot;body&quot;: &quot;Hello, world!&quot;
        }
      }]
    }</span>
  ]
}</code></pre>
