<pre><code>mb restart [options]</code></pre>

<p>The <code>restart</code> command is equivalent to running <code>mb stop</code> followed
by <code>mb start</code>. To ensure a clean <code>stop</code>, the <code>--pidfile</code>
must match the one passed to the original <code>mb start</code> process. By default,
this means you must run <code>restart</code> in the same working directory you originally
ran the <code>start</code> command from.</p>

<p>The <code>restart</code> command has all the same command line options as the
<code>start</code> command.</p>
