<%
title = 'Contracts'
description = 'Contract specifications and descriptions'

function indent (spaces) {
  var result = '';
  for (var i = 0; i < spaces - 2; i++) {
    result += ' ';
  }
  return " <a title='Click to pin documentation on the right' class='thumbtack-icon'></a>" + result;
}
%>

<% include ../../_header %>

<h1>
  <select>
    <option>Imposter</option>
    <option>Imposters</option>
  </select>
</h1>

<p>To get more details on any field, simply hover your mouse over that field.  Purple fields
are only meaningful in the response; they will be ignored in any requests.</p>

<% include contracts/imposter %>

<script type='text/javascript'>
  function mbHighlight () {
    function descriptionFor (id) {
      return $('#' + id + '-description');
    }

    function movedRight (fromElement, x, y) {
      return x > fromElement.offset().left &&
             y > fromElement.offset().top &&
             y < fromElement.offset().top + fromElement.height();
    }

    function hoverOn () {
      $('#specification span').on('mouseenter', function () {
        $('#specification span').css('background-color', '');
        $('#specification-description div').hide();

        descriptionFor(this.id).css('top', $(this).offset().top - $('#port').offset().top);

        $(this).find('a').css('visibility', 'visible');
        $(this).css('background-color', 'gold');
        descriptionFor(this.id).show();
      });

      $('#specification span').on('mouseleave', function (event) {
        $(this).find('a').css('visibility', 'hidden');

        if (!movedRight($(event.fromElement), event.pageX, event.pageY)) {
          $(this).css('background-color', '');
          descriptionFor(this.id).hide();
        }
      });
    }

    function hoverOff () {
      $('#specification span').off('mouseenter');
      $('#specification span').off('mouseleave');
    }

    $('#specification a').click(function () {
      if (!this.pinned) {
        this.pinned = true;
        $(this).css('text-decoration', 'underline');
        hoverOff();
      }
      else {
        this.pinned = false;
        $(this).css('text-decoration', '');
        hoverOn();
      }
    });

    hoverOn();
  }

  $('#specification-description').height($('#specification').height());
  mbHighlight();
</script>

<% include ../../_footer %>
